
\.DS_Store

salas-agendamento-agenda/logs/

salas-agendamento-cliente/\.mvn/wrapper/

salas-agendamento-front/\.mvn/wrapper/MavenWrapperDownloader\.java

salas-agendamento-front/\.mvn/wrapper/maven-wrapper\.properties

salas-agendamento-front/\.mvn/wrapper/maven-wrapper\.jar

salas-agendamento-api/\.mvn/wrapper/maven-wrapper\.jar

salas-agendamento-api/\.mvn/wrapper/maven-wrapper\.properties

salas-agendamento-api/\.mvn/wrapper/MavenWrapperDownloader\.java

salas-agendamento-gateway/logs/
